################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Webgentle/.vs/Webgentle
/Webgentle/Webgentle.BookStore/bin/Debug/net6.0
/Webgentle/Webgentle.BookStore/obj
/Webgentle/.vs/ProjectEvaluation
/Webgentle/Webgentle.BookStore/bin/Release/net6.0
/Webgentle/Webgentle.BookStore/Properties/PublishProfiles
/Webgentle/Webgentle.BookStore/.config
/Webgentle/Webgentle.BookStore/Webgentle.BookStore.csproj.user
/Webgentle/Webgentle.BookStore/wwwroot/lib
/Webgentle/Webgentle.BookStore/wwwroot/books/cover
/Webgentle/Webgentle.BookStore/wwwroot/books/gallery
