@model BookModel
@{
    ViewData["title"] = "Add New Book";
}
<div class="container">
    <h3 class="display-4">Add new book</h3>
    <hr />
    @if (ViewBag.IsSuccess)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            Click <a asp-controller="book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view the details
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <form method="post">
        <div class="mt-3">
            <label asp-for="Title"></label>
            <input class="form-control" asp-for="Title" placeholder="Title">
        </div>

        <div class="mt-3">
            <label asp-for="Author"></label>
            <input class="form-control" asp-for="Author" placeholder="Author">
        </div>

        <div class="mt-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="mt-3">
            <label asp-for="TotalPages"></label>
            <input type="number" class="form-control" asp-for="TotalPages" placeholder="TotalPages">
        </div>

        <div class="mt-3">
            <input type="submit" value="Add Book" class="btn btn-primary" />
        </div>
    </form>
</div>

