@model IEnumerable<BookModel>
@{
    ViewData["title"] = "Book";
}
@{
    var parmas = new Dictionary<string, string>()
    {
        { "name","king"},
        { "age","14"}
    };
}
<div class="container">
    <h3> all books</h3>
    <div class="row g-3">

        @foreach(var book in Model)
        {
            <div class="col-md-3">
               <partial name="_book" model="@book"></partial>
            </div>
        }
    </div>
</div>

@section script{
    <script>
        $(() => {
            console.log("document is ready");
        });
    </script>
}