 <div class="row">
            <div class="col">
                <partial name="_book" model="@new BookModel(){}"></partial>
            </div>
            <div class="col">
                 <partial name="_book" model="@new BookModel(){}"></partial>
            </div>
            <div class="col">
                <partial name="_book" model="@new BookModel(){}"></partial>
            </div>
        </div>